<?xml version="1.0" encoding="utf-8"?>
<module name="dotcentric.Optimizely.Unpublish" clientResourceRelativePath="1.0.0" tags="EPiServerModulePackage">
  <dojo>
    <paths>
      <add name="unpublish" path="ClientResources" />
    </paths>
  </dojo>
  <clientModule initializer="unpublish/initializer">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
